@import "tailwindcss";

* {
  font-family: "Cinzel", serif;
}

/* src/index.css */
@layer utilities {
  .bg-radial-sun {
    background: radial-gradient(
      circle,
      rgba(255, 235, 59, 0.3) 0%,
      transparent 70%
    );
  }
  .skyline-clip {
    clip-path: polygon(
      0% 100%,
      5% 70%,
      10% 60%,
      15% 75%,
      20% 50%,
      25% 65%,
      30% 45%,
      35% 70%,
      40% 55%,
      45% 80%,
      50% 40%,
      55% 65%,
      60% 50%,
      65% 75%,
      70% 60%,
      75% 80%,
      80% 55%,
      85% 70%,
      90% 45%,
      95% 65%,
      100% 100%
    );
  }
  .reflection-clip {
    clip-path: polygon(
      0% 0%,
      5% 30%,
      10% 40%,
      15% 25%,
      20% 50%,
      25% 35%,
      30% 55%,
      35% 30%,
      40% 45%,
      45% 20%,
      50% 60%,
      55% 35%,
      60% 50%,
      65% 25%,
      70% 40%,
      75% 20%,
      80% 45%,
      85% 30%,
      90% 55%,
      95% 35%,
      100% 0%
    );
  }
}
